<h1>Studios</h1>

<% @studios.each do |studio| %>
  <div id="studio-<%= studio.id %>">
    <h3><%= studio.name %></h3>
    <p><b>Location: </b><%= studio.location %></p>
    <p><b>Movies: </b><% studio.find_all_movies.each do |movie| %></p>
    <p><%=movie.title%> </p>
    <% end %>

  </div>
<% end %>